/* @import url(https://fonts.googleapis.com/css?family=Nixie+One); */
/* @import url(https://fonts.googleapis.com/css?family=Libre+Baskerville); */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background-color:#fff;
}

html, body {height:100%;} 

a:hover {
	text-decoration: none;
	}

a:link, a:visited {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	}

/* This sets the diagonal line for the background */
.hero {
	background: #00aeef url(../angle-big.svg);
	background-position: bottom left;
	background-size: 8000px;
	margin-top:0px;
	background-repeat: no-repeat;
	min-height: 300px;
	height: 20%;}
	
	@media (min-width: 48em) {
	.hero {
	background: #00aeef url(../angle-big.svg);
	background-position: bottom left;
	background-size: 8000px;
	margin-top:0px;
	background-repeat: no-repeat;
	min-height: 380px;
	height: 35%;}
	}
	
.hero-small {
	background: #00aeef url(../angle-big.svg);
	background-position: bottom left;
	background-size: 8000px;
	margin-top:0px;
	background-repeat: no-repeat;
	min-height: 350px;
	height: 25%;}
	
	@media (min-width: 48em) {
	.hero-small {
	background: #00aeef url(../angle-big.svg);
	background-position: bottom left;
	background-size: 8000px;
	margin-top:0px;
	background-repeat: no-repeat;
	min-height: 450px;
	height: 40%;}
	}

.hero-xsmall{
	background: #00aeef url(../angle-big.svg);
	background-position: bottom left;
	background-size: 8000px;
	margin-top:0px;
	background-repeat: no-repeat;
	min-height: 300px;
	height: 20%;}
	
	@media (min-width: 48em) {
	.hero-xsmall {
	background: #00aeef url(../angle-big.svg);
	background-position: bottom left;
	background-size: 8000px;
	margin-top:0px;
	background-repeat: no-repeat;
	min-height: 350px;
	height: 30%;}
	}

	@media (min-width: 68em) {
	.hero-xsmall {
	background: #00aeef url(../angle-big.svg);
	background-position: bottom left;
	background-size: 8000px;
	margin-top:0px;
	background-repeat: no-repeat;
	min-height: 450px;
	height: 40%;}
	}

	
.hero-space {
	padding-top:10%;}
	
	@media (min-width: 34em) {
	.hero-space {
	padding-top:20%;}
	}
	
.hero-space-small {
	margin-top:30px;}
	
	@media (min-width: 34em) {
	.hero-space-small {
	margin-top:50px;}
	}
	
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 2.5em;
	color: rgba(255, 255, 255, 0.9);}
	
	@media (max-width: 34em) {
	h1 {
	font-size: 2em;}
	}
	
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 2.25em;
	color: rgba(0, 0, 0, 0.9);}
	
	@media (max-width: 34em) {
	h2 {
	font-size: 1.4em;}
	}

p {
	font-family: 'Lato', serif;
	font-weight: 100;
 	font-size: 1em;
	line-height: 1.7em;
	color: rgba(0, 0, 0, 0.8);}

	@media (min-width: 34em) {	
	p {
	font-size: 1.1em;}
	}

.white {
	background-color: #fff;
	padding: 20px;
	padding-top: 15px;
	margin-top: 40px;
	}

.white-small {
	background-color: #fff;
	padding: 20px;
	padding-top: 15px;
	margin-top: 30px;
	margin-bottom: -30px;
	}

.white-smaller {
	background-color: #fff;
	padding: 20px;
	padding-top: 15px;
	margin-top: 10px;
	margin-bottom: -30px;
	}
	
	
.spacer50 {
	margin-top: 50px;
	}
	
/* Begin the styles for the portfolio links */
.nopadding {
	margin: 0px;
	padding: 5px;
	margin-top: -16px;
	}

.caption {
	pointer-events: none;
	position:absolute;
	bottom: 21px;
	left: 0px;
	padding: 6px 10px 6px 10px;
	background-color: #001117;
	width: 100%;
	margin-right: 120px;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
	font-family: 'Lato', serif;
	font-size: 1em;
	line-height:1.4em;
	color:#fff;
	opacity: .95;
	}

@media (max-width: 24em) {
	figcaption {
	display: none;}
	}

figure {
	overflow:hidden;
	}
	
.on{
	opacity:.5;
	}

.grow {
	-ms-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	}

.grow:hover {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	}
	
/* End the styles for the portfolio links */

.header {
	background-color: #00090c;
	height: 40px;
	}

footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #f6f6f6;
    opacity: .9;
	}

@media (max-width: 36em) {
	footer {
	display: none;
    }
	}

footer ul {
    font-size: .9em;
	line-height: 3em;
	color: rgba(0, 0, 0, 0.6);
	}

a:link, a:visited {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	}

footer .list-inline-item {
	padding-left: 10px;
	}

footer .list-inline-item:first-child {
	padding-left: 0px;
	}

